<ul>
  <li><a href="/users/<%= @the_user.username %>/feed">Feed</a></li>
  <li><a href="/users/<%= @the_user.username %>/liked_photos">Liked Photos</a></li>
  <li><a href="/users/<%= @the_user.username %>/discover">Discover</a></li>
</ul>

<h1>
      User <%= @the_user.username %> details
</h1>


<dl>
      <dt>
        Follower count
      </dt>
      <dd>
        <%= @the_user.followers.count %>
      </dd>
      <dt>
        Following count
      </dt>
      <dd>
        <%= @the_user.following.count %>
      </dd>
       <dt>
        Photos count
      </dt>
      <dd>
        <%= @the_user.own_photos.count %>
      </dd>
       <dt>
        Private?
      </dt>
      <dd>
        <%= @the_user.private %>
      </dd>
</dl>

<% if @current_user != nil %>
  <% if @current_user.id != @the_user.id %>
  <% @follow = FollowRequest.where({:sender_id => @current_user.id, :recipient_id =>@the_user.id}).at(0) %>
    <% if @follow == nil%>
      <form action="/insert_follow_request" method="post">
        <input type="hidden" id="sender_id_box" name="query_sender_id" value=<%=@current_user.id%>>
        <input type="hidden" id="recipient_id_box" name="query_recipient_id" value= <%= @the_user.id %>>
        <button>
          Follow
        </button>
      </form>   
    <%else%>
      <% if @follow.status == "accepted" %>
        <a href="/delete_follow_request/<%= @follow.id %>"> Unfollow</a>        
      <% elsif @follow.status == "pending" %>
        Request sent. <a href="/delete_follow_request/<%= @follow.id %>"> Cancel</a>             
      <% else %>
      <% end %>
    <% end %>
  <%else%>
     <div>
    <form action="/modify_user" method="post">
      <div>
        <label for="email_box">Email</label>
        <input id="email_box" name="query_email" value="<%= @current_user.email %>">
      </div>
      <div>
        <label for="username_box">Username</label>
        <input id="username_box" name="query_username" value="<%= @current_user.username %>">
      </div>
      <div>
        <label for="private_box">Private</label>
        <input id="private_box" name="query_private" type="checkbox" value="1" <%= "checked" if @current_user.private %>>
      </div>

      <div>
        <label for="password_box">Password</label>
        <input id="password_box" name="query_password" placeholder="Choose a password..." type="password">
      </div>
    
      <div>
        <label for="password_confirmation_box">Password Confirmation</label>
        <input id="password_confirmation_box" name="query_password_confirmation" placeholder="Confirm your password..." type="password">
      </div>

      <button>
        Update account
      </button>
    </form>
  </div>
  <% end %>
  <% end %>


/users/[USERNAME] displays the value of the private column for the related User record
/users/[USERNAME] displays each of the Photos that the related User has added in <img> tags

<h2>Photos</h2>
<table border="1">
      <tr>
        <th> Image</th>
        <th> Caption</th>
        <th>Owner</th>
        <th>Posted</th>
        <th>Likes count</th>
        <th></th>
      </tr>

  <% @the_user.own_photos.each do |a_photo| %>
      <tr>
        <td>
          <img src="<%= a_photo.image%>" class="img-responsive">
        </td>

        <td>
          <%= a_photo.caption %>
        </td>

        <td>
          <%= a_photo.owner.username %>
        </td>

        <td>
          <%= time_ago_in_words(a_photo.created_at) %> ago
        </td>

        <td>
          <%= a_photo.likes_count %>
        </td>

        <td>
          <a href="/photos/<%= a_photo.id %>">
            Show details
          </a>
        </td>
      </tr>
      <%end%>
</table>
<hr>


<% if @the_user.private %>
<h2>Pending requests</h2>

<table border="1">
  <tr>
    <th>User</th>
    <th></th>
    <th></th>
    <th>Requested date</th>
    <th></th>
  </tr>
<% @pending_requests.each do |a_request| %>
  <tr>
    <td> <%=a_request.sender.username%></td>
    <td>
      <form action="/modify_follow_request/<%=a_request.id%>" method="post">
        <input type="hidden" id="status_request" name="query_status" value="accepted">
        <button>
          Accept
        </button>
      </form> 
    </td>
    <td>
      <form action="/modify_follow_request/<%=a_request.id%>" method="post">
        <input type="hidden" id="status_request" name="query_status" value="rejected">
        <button>
          Reject
        </button>
      </form> 
    </td>
    <td>
      <%= time_ago_in_words(a_request.created_at) %> ago
    </td>
    <td>
      <a href="/user/ <%=a_request.sender.username%>">
        Show details
      </a>
    </td>
  </tr>
<%end%>
</table>
<%end%>
